.content {
    border: solid white 4px;
    padding: 15px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }

.img-small {
    max-width: 80%;
    height: auto;
    overflow: none;
    text-align: center;
    border: solid white 3px;
}

.thumbnail-container {
    width: 90%; /* Adjust the container width as needed */
    height: 450px; /* Adjust the container height as needed */
    overflow: hidden;
    border: solid white 5px;
  }

  .thumbnail-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .thumbnail-img:hover {
    transform: scale(1.2);
  }